body {
    background-color: grey;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* HEADER */
.header {
    margin: 0 auto;
}

/* COFFEE CHOICES */
.coffee-choice, .coffee-image, .coffee-type, .coffee-price, .coffee-quantity, .left, .left-center, .center, .right-center, .right {
    margin: 0 1rem;
    text-align: center;
    align-self: center;
}
.coffee-image, .left-center, .coffee-type, .center, .coffee-price, .right-center {
    width: 30%;
}
.coffee-choice, .left, .coffee-quantity, .right {
    width: 5%;
}
.ingredients {
    text-align: left;
}

/* SELECTED ITEMS & CALCULATIONS */
.selected-items {
    width: 50%;
    float: left;
}
.item, .subtotal, .tax, .total {
    margin: 0.5rem;
}
.calculations {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* BUTTONS */
.btn {
    margin: .1rem .5rem;
}
.footer {
    display: grid !important;
    justify-content: flex-end !important;
    width: 50%;
}

/* CARD */
.card {
    max-width: 80%;
    background-color: #041E42;
    color: #A89968;
    border-color: white;
}
.card-header {
    display: flex;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    border-color: white;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    border-color: white;
}

/* LIST */
.list-group {
    display: block;
    border-color: white;
}
.list-group-item {
    display: flex;
    padding: 0 !important;

    background-color: #041E42;
    color: #A89968;
    
    border-color: white;
}
.list-group-flush>.list-group-item:last-child {
    border-width: 0 0 1px !important;
}