body {
    background-color: grey;
}
textarea {
    resize: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    min-width: 80%;
}
.header {
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}